*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    line-height:1.5;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

#contact{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(32, 29, 31, 0)), url(images/Site\ owner\ using\ the\ CSS\ background\ position\ property.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  .back a{
    position: fixed;
    top: 0;
    left: 0;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.197);
    width: 150px;
    height: 50px;
    padding: 14px;
  }

  .back:hover{
      opacity: 0.7;
  }


@media (min-width: 769px) {
  
  form{
    display:inline-block;
      margin:30px 80px 30px 0;
      width:450px;
      padding: 17px;
      background-color:white;
      box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.7);
}

.form-hor{
  width: 400px;
  position:relative;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
}

@media (max-width: 768px) {
  
  form{
    display:inline-block;
      margin:30px 0px 30px 0;
      width:400px;
      padding: 17px;
      background-color:white;
      box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.7);
}

.form-hor{
  width: 400px;
  position:relative;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
}

input, select {
  width:100%;
  padding: 15px;
  margin:5px 0 18px 0;
  display: inline-block;
  border:none;
  background:whitesmoke;
  border: 2px solid #ccc;
}

form textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
form button{
   background: rgba(114, 114, 135, 0.476);
  color: #fff;
   float:right;
   width:130px;
   height:60px;
   padding:10px 0;
   margin:17px 0;
   border-radius: 12px;
   border: 2px solid #ccc;
   font-size: 15px;
   font-weight: bold;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}



 .form-hor button{
     margin-top: 4rem 0;
 }
 
 .nav{
  position: fixed;
  top: 0;
  right: 0;
}
.nav span{
  color: rgba(255, 255, 255, 0.878);
}

.nav button{
    width:80px;
    height:40px;
    border-radius: 10px;
    margin: 10px 15px;
}

.nav button a{
  text-decoration: none;
  color: black;
}